.flex{
    display: flex;
}
button{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: rgb(8, 161, 243);
    border-radius: 10px;
    color: white;
}
.card-container{
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}
.followers-sec{
    display: flex;
    flex-wrap: wrap;
}